.card {
  max-width: 730px;
  min-width: 288px;
  padding: 1rem;
  margin: 0.85rem;
  border: 1px solid black;
  border-radius: 2px;
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardMini {
  max-width: 350px;
  min-width: 288px;
  padding: 1rem;
  margin: 0.85rem;
  border: 1px solid black;
  border-radius: 2px;
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cardImg {
  margin-top: 10px;
}

.cardTitle {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  margin: 1rem 0 0.75rem;
}

.cardTag {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background: black;
  padding: 0.7rem 1.75rem;
  margin-bottom: 15px;
  border-radius: 50px;
  line-height: 1.2;
}
