.main {
  display: flex;
  flex-direction: row;
  margin: 15% 10% 20%;
  align-items: center;
}

.divider {
  height: 320px;
  width: 1px;
  background-color: black;
  margin: 0 50px;
}

a.infoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
}

a.infoContainer:hover {
  color: #1d2fb0;
  text-decoration: underline;
}

.textMailme {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .container {
    background-image: url("/img/bg-contact768.jpg");
    background-size: cover;
    overflow: hidden;
  }
  .main {
    min-height: 75vh;
    margin-top: 25%;
    align-items: flex-start;
  }

  .contactImgContainer {
    display: none;
    visibility: hidden;
  }

  .divider {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 576px) {
  .container {
    background-image: url("/img/bg-contact576.jpg");
    background-size: cover;
  }

  .contactImgContainer {
    display: none;
    visibility: hidden;
  }

  .divider {
    display: none;
    visibility: hidden;
  }
}
