.main {
  background-image: url("/img/bg-full.jpg");
  background-size: cover;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  /*min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;*/
}

.mainText {
  margin: 20% 10% 0;
}

.work {
  margin: 7% 10% 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  margin-bottom: 2%;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.brand {
  font-weight: 800;
  color: black;
}

.hoverAnimation {
  display: inline-block;
  position: relative;
  color: black;
}

.hoverAnimation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hoverAnimation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -2px;
}

.description {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

a.cta {
  color: white;
  background-color: black;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  margin-top: 0.5rem;
  transition: transform 250ms;
}

a.cta:hover {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-5px);
}

.tools {
  margin: 5% 10% 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.toolImgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.smallImg {
  margin-right: 1rem;
}

.toolText {
  text-align: right;
  font-size: 2rem;
}
.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .main {
    background-image: url("/img/bg-768.jpg");
    background-size: cover;
  }

  .mainText {
    margin: 25% 10% 0;
  }

  .hoverAnimation {
    display: block;
    position: relative;
    color: black;
  }

  .tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30%;
  }
  .toolImgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .toolText {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .main {
    background-image: url("/img/bg-576.jpg");
    background-size: cover;
  }

  .mainText {
    margin: 35% 10% 0;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -2px;
  }

  .description {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
}
