.navigation {
  display: flex;
  height: 80px;
  width: 100%;
  background: #f9f9f9;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  position: -webkit-sticky;
  position: sticky;
}

.logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: black;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.navItem {
  margin: 0 10px;
}

.navLink {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;

  display: inline-block;
  position: relative;
}

.hoverAnimation {
  display: inline-block;
  position: relative;
  color: black;
}

.hoverAnimation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hoverAnimation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-btn {
  color: black;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
